body {
  background-color: #222; // Dark
  color: #fff;
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
}

.admin_product-container {
  background-color: #333; // Dark
  padding: 20px;

  border-radius: 10px;
  margin-bottom: 20px;
}

.admin_product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.admin_product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-section {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  color: #fff;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}
.btn-outline-light {
  border: 0;
}
