body {
  background-color: #222; // Dark
  color: #fff;
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
  color: #fff;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}
.btn-outline-light {
  border: 0;
}

.back-button {
  margin-left: 500px;
  background-color: red; // red
}
