.container-product {
  color: #fff; // Black
}

body {
  background-color: #222; // Dark
  color: #fff; // White
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
  color: #fff; // White
}

.customer_product-amount {
  font-size: 16px;
  color: #888; // Gray
  margin: 10px;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}
.btn-outline-light.me-2 {
  border: 0;
}

.shopping-cart-title {
  font-family: sans-serif;
  font-size: 24px;
  margin: 10px;
}

#addToCartForm input[type="submit"] {
  background-color: #007bff; // Blue
  color: fff; // white
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addToCartForm input[type="submit"]:hover {
  background-color: #0056b3; // Dark blue
}

.addToCartForm-button {
  color: #fff; // White
}

.image-container {
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  height: 250px;
}

.container.me-2 {
  border-radius: 20px;
  overflow: hidden;
  background-color: #333333; // Dark gray
  padding: 40px;
}
