body {
  background-color: #222; /* Dark background */
  color: #fff; /* White text for better readability */
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
}

/* Adjustments for the navbar icons */
.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px; /* Increased margin for the icons */
}
.btn-outline-light {
  border: 0;
}

.credit-card{
  font-size: 250px;
  margin-left: 25px;
}

.card-img-left {
            width: 100%;
            height: auto;
        }
        .center-vertically {
            display: flex;
            align-items: center;
            height: 100%;
        }