body {
      background-color: #222; /* Dark background */
      color: #fff; /* White text for better readability */
      font-family: sans-serif;
    }
/* Adjustments for the navbar icons */
    .navbar-brand {
      font-size: 40px;
    }

    .navbar-nav .nav-link {
      margin-right: 10px; /* Increased margin for the icons */
    }
    .btn-outline-light {
        border: 0;
    }

    .form-control, .form-select {
        height: 35px;
        text-align: center;
    }
