body {
  background-color: #222; // dark
  color: #fff; // White
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
  color: #000; // black
}

.customer_product-amount {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}
.btn-outline-light {
  border: 0;
}

.shopping-cart-title {
  font-family: sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}
