body {
  background-color: #222; // Dark
  color: #fff; // White
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
  color: #fff; // White
}

.business_product-container {
  background-color: #333; // Dark
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.business_product-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.business_product-price {
  font-size: 18px;
  margin: 10px;
}

.filter-section {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}
.btn-outline-light {
  border: 0;
}

.product-create-button-italic {
  font-size: xx-large;
}
