body {
  background-color: #222; /* Dark background */
  color: #fff; /* White text for better readability */
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
}

/* TODO use this */
.customer_product-container {
  background-color: #333; /* Darker container background */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* TODO use this */
.customer_product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* TODO use this */
.customer_product-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.customer_product-amount {
  font-size: 16px;
  color: #888; /* Use a color that fits your design */
  margin-bottom: 10px;
}

/* Adjustments for the navbar icons */
.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px; /* Increased margin for the icons */
}
.btn-outline-light.me-2{
  border: 0;
}

.shopping-cart-title {
  font-family: 'YourFontName', sans-serif; /* Replace 'YourFontName' with the actual font name */
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Add space below the title */
  /* Add other styling if needed */
}

/* Style the button */
      #addToCartForm input[type="submit"] {
          background-color: #007bff; /* Blue color for button background */
          color: white; /* White text color */
          padding: 8px 16px; /* Padding inside the button */
          border: none; /* Remove border */
          border-radius: 4px; /* Rounded corners */
          cursor: pointer; /* Show pointer cursor on hover */
      }

      /* Style the button on hover */
      #addToCartForm input[type="submit"]:hover {
          background-color: #0056b3; /* Darker blue color on hover */
      }

.image-container{
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Ensure content does not overflow rounded corners */
    object-fit: cover;
    height: 250px;
}

.container.me-2{
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Ensure content does not overflow rounded corners */
    background-color: #333333;
    padding: 40px;
}
