body {
  background-color: #222; // Dark
  color: #fff;  // White
  font-family: sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 

.alert-container {
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 1000;
}

.alert {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.login-container {
  height: 550px;
  width: 500px; 
  padding: 105px;
  border-radius: 10px; 
  background-color: #333; // sliight light dark
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); // depth of the shadow
}

.login-form {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.btn-outline-light {
  backdrop-filter: opacity(70);
  width: 50%;
  margin-top: 20px;
  border-radius: 20px;
}

a {
  color: white;
}

h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
}

.register-link {
  margin-left: 95%;
}