body {
  background-color: #222; // Dark
  color: #fff; // White
  font-family: sans-serif;
}

.container {
  margin-top: 20px;
  color: #fff; // White
  padding: 20px;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.btn-outline-light {
  border: 0;
}

.card {
  background-color: #333; // Dark
  color: #fff; // White
}

.card-header {
  background-color: #444; // Dark
  color: #fff; // White
}

.card-body {
  background-color: #555; // Dark
  color: #fff; // White
}

.card-footer {
  background-color: #444; // Dark
  color: #fff; // White
}
