body {
  background-color: #222; //  Dark
  color: #fff; // White
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.alert-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.alert {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.register-container {
  height: 550px;
  padding: 40px;
  width: 500px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  text-align: center;
}

.form-control {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.btn-outline-light {
  backdrop-filter: opacity(70);
  width: 50%;
  margin-top: 20px;
  border-radius: 20px;
}

h2 {
  color: white;
  font-size: 50px;
}

a {
  color: white;
}

.btn-primary,
.btn-outline-primary {
  background-color: #222222;
  color: white;
  border-radius: 0;
  border-color: transparent;
}

.register-link {
  margin-left: 75%;
}
