 body {
      background-color: #222;  /* Dark background */
      color: #fff;  /* White text for better readability */
      font-family: sans-serif;
      display: flex;  /* Enable Flexbox for body */
      justify-content: center;  /* Center content horizontally */
      align-items: center;  /* Center content vertically */
      min-height: 100vh;  /* Set minimum height for viewport */
      margin: 0; /* Reset margin to prevent default browser styles */
    }

    .alert-container {
      position: fixed; /* Fixed positioning */
      top: 0; /* Positioned at the top */
      width: 100%; /* Full width */
      z-index: 1000; /* Ensure it's above other content */
    }

    .alert {
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }

    .register-container {
        height: 500px;
        padding: 40px;
        width: 500px;  /* Adjust container width as needed */
        border-radius: 10px;  /* Rounded corners */
        background-color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Shadow for depth */
        display: flex; /* Use flexbox */
        flex-direction: column; /* Stack items vertically */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
    }

    .register-form {
      text-align: center;  /* Center form elements within the container */
    }

    .form-control {
       width: 100%;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .btn-outline-primary, .btn-primary {
      width: 50%;
      margin-top: 10px;
      border-radius: 20px; /* Rounded corners for both buttons */
    }

    h2 {
      color: white;
      font-size: 50px;
    }

    .btn-primary.active, .btn-primary:active {
      border-radius: 20px; /* Ensure active state keeps rounded corners */
    }