<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Notification - Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-sv6pgpFvAlzoBv2wJYbHkGY34A4fQsGYapb8O9mJ+9avshYyxHhCHGW3BDWnRlJMg1D+Dq0yAzV8BrVXU3HN0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reference Bootstrap Icons library -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/admin_notification_send.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admin_main_page"><b>BilShop</b></a>
        <div class="d-flex">
          <!-- Notifications button -->
          <form action="{{ url_for('notifications') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Notification"
            >
              <i class="bi bi-bell"></i>
            </button>
          </form>
          <!-- Logout button -->
          <form action="{{ url_for('logout') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Logout"
            >
              <i class="bi bi-box-arrow-left"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Send Notification Form -->
    <div class="container mt-3">
      <!-- A notification has title, image, text, and date  -->
      <h2>Send Notification</h2>
      <form action="{{ url_for('admin_notification_send') }}" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            type="file"
            accept="image/*"
            class="form-control"
            id="image"
            name="image"
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Text</label>
          <input
            type="text"
            class="form-control"
            id="text"
            name="text"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        <button
          class="btn btn-outline-light me-2 back-button"
          type="button"
          onclick="window.location.href='/admin_main_page'"
        >
          <b>Back</b>
        </button>
      </form>
      {% if message %}
      <div class="alert alert-success mt-3" role="alert">{{ message }}</div>
      {% endif %}
    </div>
  </body>
</html>
