<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page - Business</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-sv6pgpFvAlzoBv2wJYbHkGY34A4fQsGYapb8O9mJ+9avshYyxHhCHGW3BDWnRlJMg1D+Dq0yAzV8BrVXU3HN0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reference Bootstrap Icons library -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/business_main_page.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/business_main_page"><b>BilShop</b></a>
        <div class="d-flex">
          <!-- Search bar -->
          <input
            name="search"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            id="searchButton"
            class="btn btn-outline-light me-2"
            type="submit"
            title="Search"
          >
            <i class="bi bi-search"></i>
          </button>
          <!-- Notifications button -->
          <form action="{{ url_for('notifications') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Notification"
            >
              <i class="bi bi-bell"></i>
            </button>
          </form>
          <!-- Business Profile button -->
          <form action="{{ url_for('business_profile') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Business Profile"
            >
              <i class="bi bi-person"></i>
            </button>
          </form>
             <!-- Balance Button -->
            <form action="{{ url_for('balance_business') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="balance_business"
            >
              <i class="bi bi-wallet2"></i>
            </button>
                </form>
          <!-- Logout button -->
          <form action="{{ url_for('logout') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Logout"
            >
              <i class="bi bi-box-arrow-left"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <!-- Filter section -->
        <div class="col-md-3">
          <div class="filter-section">
            <div id="filterForm">
              <div class="mb-3">
                <label for="category">Category:</label>
                <select class="form-select" id="category" name="category">
                  <option value="all">All Categories</option>
                  <!-- Add options dynamically from backend if needed -->
                  <option>Jewelry</option>
                  <option>Sculpture</option>
                  <option>Furniture</option>
                  <option>Painting</option>
                  <option>Clothing</option>
                  <option>Accessories</option>
                  <option>Collectibles</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="min_price">Minimum Price:</label>
                <input
                  type="number"
                  class="form-control"
                  id="min_price"
                  name="min_price"
                  placeholder="Min"
                />
              </div>
              <div class="mb-3">
                <label for="max_price">Maximum Price:</label>
                <input
                  type="number"
                  class="form-control"
                  id="max_price"
                  name="max_price"
                  placeholder="Max"
                />
              </div>
              <div class="mb-3">
                <label for="sort_order">Sort By Price:</label>
                <select class="form-select" id="sort_order" name="sort_order">
                  <option value="asc">Ascending</option>
                  <option value="desc">Descending</option>
                </select>
              </div>
              <div class="mb-3">
                <button
                  type="button"
                  class="btn btn-primary w-100"
                  onclick="applyFilter()"
                >
                  Apply Filter
                </button>
              </div>
              <div class="text-center mb-3">
                <!-- Center align content -->
                <form
                  action="{{ url_for('business_product_creation') }}"
                  method="get"
                >
                  <button
                    class="btn btn-outline-light"
                    type="submit"
                    title="Submit"
                  >
                    <!-- TODO Move styles to css -->
                    <i
                      class="bi bi-patch-plus-fill"
                      style="font-size: xx-large"
                    ></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Product listings -->
        <div class="col-md-9" id="productListings">
          <div class="row">
            {% for business_product in product_table %}
            <div class="col-md-4">
              <div class="business_product-container">
                <div class="business_product-title">
                  {{ business_product.title }}
                </div>
                <div class="business_product-price">
                  {{ business_product.price }}
                </div>
                <!-- Add other business product details as needed -->
                <a
                  href="/business_product/{{ business_product.product_ID }}"
                  class="btn btn-primary"
                  >View Product</a
                >
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: WHY IS THIS SCRIPT HERE? -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Lj0C4zj98o1DZi9bMMfCf+/JWny3I3pAtVnd+pj9gF8H8eEv2h4W/toCg3IeGZsC"
      crossorigin="anonymous"
    ></script>

    <!-- TODO: WHAT THIS DOES? -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("searchButton")
          .addEventListener("click", function () {
            var searchInput = document.querySelector(
              'input[name="search"]'
            ).value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/search_products_business", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                  var products = JSON.parse(xhr.responseText);
                  updateProductListings(products);
                } else {
                  console.error("Error:", xhr.status);
                }
              }
            };
            xhr.send(JSON.stringify({ search: searchInput }));
          });
      });

      function updateProductListings(products) {
        var productListingsDiv = document.getElementById("productListings");
        productListingsDiv.innerHTML = ""; // Clear previous listings
        var productRow = document.createElement("div");
        productRow.className = "row"; // Create a row for horizontal layout
        products.forEach(function (business_product) {
          var productDiv = document.createElement("div");
          productDiv.className = "col-md-4";
          productDiv.innerHTML = `
          <div class="business_product-container">
            <div class="business_product-title">${business_product.title}</div>
            <div class="business_product-price">${business_product.price}</div>
            <!-- Add other business product details as needed -->
            <div>
                <a
                  href="/business_product/${business_product.product_ID}"
                  class="btn btn-primary"
                  >View Product</a
                >
            </div>
          </div>
        `;
          productRow.appendChild(productDiv);
        });
        productListingsDiv.appendChild(productRow); // Append the row to the parent container
      }
      function applyFilter() {
        var category = document.getElementById("category").value;
        var min_price = document.getElementById("min_price").value;
        var max_price = document.getElementById("max_price").value;
        var sort_order = document.getElementById("sort_order").value;

        // Construct the URL with query parameters
        var url = `/filter_business?category=${category}&min_price=${min_price}&max_price=${max_price}&sort_order=${sort_order}`;

        // Send AJAX request to Flask backend
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              var products = JSON.parse(xhr.responseText);
              updateProductListings(products);
            } else {
              console.error("Error:", xhr.status);
            }
          }
        };
        xhr.send();
      }
    </script>
  </body>
</html>
