<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-sv6pgpFvAlzoBv2wJYbHkGY34A4fQsGYapb8O9mJ+9avshYyxHhCHGW3BDWnRlJMg1D+Dq0yAzV8BrVXU3HN0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Reference Bootstrap Icons library -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/customer_main_page.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/customer_main_page"><b>BilShop</b></a>
        <div class="d-flex">
          <!-- Shopping Cart -->
          <form action="{{ url_for('shopping_cart') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Cart"
            >
              <i class="bi bi-cart3"></i>
            </button>
          </form>
          <!-- Notifications button -->
          <form action="{{ url_for('notifications') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Notification"
            >
              <i class="bi bi-bell"></i>
            </button>
          </form>
          <!-- Active Orders Button -->
          <form action="{{ url_for('customer_active_orders') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Orders"
            >
              <i class="bi bi-receipt"></i>
            </button>
          </form>
          <!-- Customer Profile button -->
          <form action="{{ url_for('customer_profile') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Customer Profile"
            >
              <i class="bi bi-person"></i>
            </button>
          </form>
          <!-- Balance Button -->
          <form action="{{ url_for('balance') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Customer Profile"
            >
              <i class="bi bi-wallet2"></i>
            </button>
          </form>
          <!-- Logout button -->
          <form action="{{ url_for('logout') }}" method="get">
            <button
              class="btn btn-outline-light me-2"
              type="submit"
              title="Logout"
            >
              <i class="bi bi-box-arrow-left"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <!-- Title -->
        <div class="col-md-12">
          <h1 class="shopping-cart-title">Shopping Cart</h1>
        </div>
        <!-- Product listings -->
        <div class="col-md-9" id="productListings">
          <div class="row">
            {% if cart %} {% for customer_product in cart %}
            <div class="col-md-4">
              <div class="customer_product-container">
                <div class="customer_product-title">
                  {{ customer_product.title }}
                </div>
                <div class="customer_product-price">
                  {{ customer_product.price }}
                </div>
                <div class="customer_product-amount m-2">
                  Amount: {{ customer_product.amount }}
                </div>
                <!-- Add other customer product details as needed -->
                <a
                  href="/customer_product/{{ customer_product.product_ID }}"
                  class="btn btn-primary m-2"
                  >View Product</a
                >
                <a
                  href="/remove_from_cart/{{ customer_product.product_ID }}"
                  class="btn btn-danger m-2"
                  >Remove From Cart</a
                >
              </div>
            </div>
            {% endfor %}
            <!-- Checkout button -->
            <div class="col-md-12 text-center mt-3">
              <button id="checkoutButton" type="submit" class="btn btn-success">
                Checkout
              </button>
            </div>
            {% else %}
            <div class="col-md-12">
              <p>Your cart is empty.</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Script to handle checkout button click -->
    <script>
      document
        .getElementById("checkoutButton")
        .addEventListener("click", function (event) {
          event.preventDefault(); // Prevent the default form submission behavior
          var cart = {{cart | tojson}};
          console.log("clicked");
          // Send a POST request to the server to initiate the checkout process
          fetch("/checkout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(cart),
          })
            .then((response) => response.json()) // Parse the JSON response
            .then((data) => {
              if (data.redirect_url) {
                window.location.href = data.redirect_url; // Redirect to the checkout page
              } else {
                console.error("Failed to get redirect URL"); // Log an error if the redirect URL is not received
              }
            })
            .catch((error) => {
              console.error("Error:", error); // Log an error if the request fails
            });
        });
    </script>
  </body>
</html>
