<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/test_tables.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="table-container">
        <h1>TABLES</h1>
        <hr />
        <!-- User Table -->
        <h1 class="heading">USER</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>picture</th>
            <th>phone_number</th>
            <th>country</th>
            <th>city</th>
            <th>state</th>
            <th>zip</th>
            <th>building</th>
            <th>street</th>
            <th>no</th>
            <th>address_description</th>
          </tr>
          {% for row in users %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['email'] }}</td>
            <td>{{ row['password'] }}</td>
            <td>{{ row['picture'] }}</td>
            <td>{{ row['phone_number'] }}</td>
            <td>{{ row['country'] }}</td>
            <td>{{ row['city'] }}</td>
            <td>{{ row['state'] }}</td>
            <td>{{ row['zip'] }}</td>
            <td>{{ row['building'] }}</td>
            <td>{{ row['street'] }}</td>
            <td>{{ row['no'] }}</td>
            <td>{{ row['address_description'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Customer Table -->
      <div class="table-container">
        <h1 class="heading">CUSTOMER</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>balance</th>
            <th>description</th>
          </tr>
          {% for row in customers %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['balance'] }}</td>
            <td>{{ row['description'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Business Table -->
      <div class="table-container">
        <h1 class="heading">BUSINESS</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>rating</th>
            <th>establishment_year</th>
            <th>balance</th>
            <th>logo</th>
            <th>description</th>
            <th>company_name</th>
          </tr>
          {% for row in businesses %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['rating'] }}</td>
            <td>{{ row['establishment_year'] }}</td>
            <td>{{ row['balance'] }}</td>
            <td>{{ row['logo'] }}</td>
            <td>{{ row['description'] }}</td>
            <td>{{ row['company_name'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Admin Table -->
      <div class="table-container">
        <h1 class="heading">ADMIN</h1>
        <table>
          <tr>
            <th>user_ID</th>
          </tr>
          {% for row in admins %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Product Table -->
      <div class="table-container">
        <h1 class="heading">PRODUCT</h1>
        <table>
          <tr>
            <th>product_ID</th>
            <th>title</th>
            <th>price</th>
            <th>description</th>
            <th>status</th>
            <th>proportions</th>
            <th>mass</th>
            <th>cover_picture</th>
            <th>date</th>
            <th>color</th>
            <th>category</th>
          </tr>
          {% for row in products %}
          <tr>
            <td>{{ row['product_ID'] }}</td>
            <td>{{ row['title'] }}</td>
            <td>{{ row['price'] }}</td>
            <td>{{ row['description'] }}</td>
            <td>{{ row['status'] }}</td>
            <td>{{ row['proportions'] }}</td>
            <td>{{ row['mass'] }}</td>
            <td>{{ row['cover_picture'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['color'] }}</td>
            <td>{{ row['category'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Product_Picture Table -->
      <div class="table-container">
        <h1 class="heading">PRODUCT PICTURE</h1>
        <table>
          <tr>
            <th>product_ID</th>
            <th>picture</th>
          </tr>
          {% for row in product_pictures %}
          <tr>
            <td>{{ row['product_ID'] }}</td>
            <td>{{ row['picture'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Owns Table -->
      <div class="table-container">
        <h1 class="heading">OWNS</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>product_ID</th>
            <th>amount</th>
          </tr>
          {% for row in owns %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['product_ID'] }}</td>
            <td>{{ row['amount'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Wishes Table -->
      <div class="table-container">
        <h1 class="heading">WISHES</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>product_ID</th>
          </tr>
          {% for row in wishes %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['product_ID'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Puts_On_Cart Table -->
      <div class="table-container">
        <h1 class="heading">PUTS ON CART</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>product_ID</th>
            <th>amount</th>
          </tr>
          {% for row in puts_on_cart %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['product_ID'] }}</td>
            <td>{{ row['amount'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Purchase_Information Table -->
      <div class="table-container">
        <h1 class="heading">PURCHASE INFORMATION</h1>
        <table>
          <tr>
            <th>purchase_ID</th>
            <th>status</th>
            <th>total_price</th>
            <th>date</th>
            <th>user_ID</th>
          </tr>
          {% for row in purchase_info %}
          <tr>
            <td>{{ row['purchase_ID'] }}</td>
            <td>{{ row['status'] }}</td>
            <td>{{ row['total_price'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['user_ID'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Return_Request_Information Table -->
      <div class="table-container">
        <h1 class="heading">RETURN REQUEST INFORMATION</h1>
        <table>
          <tr>
            <th>return_ID</th>
            <th>date</th>
            <th>reason</th>
            <th>status</th>
            <th>purchase_ID</th>
          </tr>
          {% for row in return_requests %}
          <tr>
            <td>{{ row['return_ID'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['reason'] }}</td>
            <td>{{ row['status'] }}</td>
            <td>{{ row['purchase_ID'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Has_Return_Request Table -->
      <div class="table-container">
        <h1 class="heading">HAS RETURN REQUEST</h1>
        <table>
          <tr>
            <th>return_ID</th>
            <th>product_ID</th>
            <th>amount</th>
          </tr>
          {% for row in has_return_request %}
          <tr>
            <td>{{ row['return_ID'] }}</td>
            <td>{{ row['product_ID'] }}</td>
            <td>{{ row['amount'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Report Table -->
      <div class="table-container">
        <h1 class="heading">REPORT</h1>
        <table>
          <tr>
            <th>report_ID</th>
            <th>date</th>
            <th>description</th>
            <th>product_ID</th>
            <th>reported_user_ID</th>
            <th>purchase_ID</th>
            <th>return_ID</th>
            <th>status</th>
            <th>user_ID</th>
          </tr>
          {% for row in reports %}
          <tr>
            <td>{{ row['report_ID'] }}</td>
            <td>{{ row['date'] }}</td>
            <td>{{ row['description'] }}</td>
            <td>{{ row['product_ID'] }}</td>
            <td>{{ row['reported_user_ID'] }}</td>
            <td>{{ row['purchase_ID'] }}</td>
            <td>{{ row['return_ID'] }}</td>
            <td>{{ row['status'] }}</td>
            <td>{{ row['user_ID'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <!-- Blacklists Table -->
      <div class="table-container">
        <h1 class="heading">BLACKLISTS</h1>
        <table>
          <tr>
            <th>user_ID</th>
            <th>report_ID</th>
            <th>admin_ID</th>
            <th>description</th>
          </tr>
          {% for row in blacklists %}
          <tr>
            <td>{{ row['user_ID'] }}</td>
            <td>{{ row['report_ID'] }}</td>
            <td>{{ row['admin_ID'] }}</td>
            <td>{{ row['description'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
